@using ReactiveUI.Blazor
@using asagiv.UI.gptAssistant.Web.Client.ViewModels
@inherits ReactiveComponentBase<HomeViewModel>

@page "/"

<PageTitle>GPT Assistant</PageTitle>

<Layout>

    <LayoutContent>

        <Container Fluid>

            @foreach (var promptItem in ViewModel.PromptCollection)
            {
                <Div>
                    <Text>
                        @promptItem.DisplayString
                    </Text>
                </Div>
            }

        </Container>

    </LayoutContent>

    <LayoutFooter Fixed>

        <Container Fluid
                    Background="Background.Light"
                    Padding="Padding.Is3.OnY">

             <Form>

                 <Addons>

                     <Addon AddonType="AddonType.Body">

                         <MemoEdit Rows="3"
                                   Style="resize: none"
                                   KeyDown="OnKeyDownAsync"
                                   @onkeydown:preventDefault="_preventDefault"
                                   @bind-Text="ViewModel.PromptText" />

                     </Addon>

                     <Addon AddonType="AddonType.End">

                         <Button Color="Color.Primary"
                                 Size="Size.ExtraLarge"
                                 Type="ButtonType.Submit"
                                 PreventDefaultOnSubmit
                                 Clicked="OnSubmitAsync">
                             Submit
                         </Button>

                     </Addon>

                 </Addons>

             </Form>

         </Container>

     </LayoutFooter>

 </Layout>



