@using ReactiveUI.Blazor
@using asagiv.UI.gptAssistant.Web.Client.ViewModels

@page "/"

<PageTitle>Home</PageTitle>

<Layout>

    <LayoutHeader>

        <Container Fluid
                    Background="Background.Light"
                    Padding=Padding.Is2.OnY>

             <Div TextAlignment="TextAlignment.Center"
                  TextSize="TextSize.Heading1">
                 My Header
             </Div>

         </Container>

     </LayoutHeader>

     <LayoutContent>

         <Container Fluid>

            @foreach(var promptItem in ViewModel.PromptCollection)
            {
                <Div>
                    @promptItem
                </Div>
            }

        </Container>

    </LayoutContent>

    <LayoutFooter Fixed>

        <Container Fluid
                    Background="Background.Light"
                    Padding="Padding.Is3.OnY">

             <Addons>

                 <Addon AddonType="AddonType.Body">

                     <MemoEdit Rows="3"
                               Style="resize: none"
                               @bind-Text="ViewModel.PromptText"/>

                 </Addon>

                 <Addon AddonType="AddonType.End">

                     <Button Color="Color.Primary"
                             Size="Size.ExtraLarge"
                             Clicked="OnSubmit">
                         Submit
                     </Button>

                 </Addon>

             </Addons>

         </Container>

     </LayoutFooter>

 </Layout>



