@page "/"

<PageTitle>Home</PageTitle>

<div class="container-fluid vh-100">

    <nav class="navbar fixed-bottom"
         style="background-color: #ffffff">

        <div class="input-group m-2">

            <textarea class="form-control"
                      style="resize: none;"
                      placeholder="Enter prompt here."
                      rows="3" />

            <button class="btn btn-primary btn-lg">Submit</button>

        </div>

    </nav>

    <div class="container-fluid mt-4"
         style="padding-bottom: 125px;">

        @foreach (var item in MyStrings)
        {
            <div class="card m-1">
                <div class="card-body">
                    @item
                </div>
            </div>
        }

    </div>

</div>

@code {
    public IList<string> MyStrings { get; set; }

    public Home()
    {
        MyStrings = Enumerable.Range(0, 30)
            .Select(x => x.ToString())
            .ToList();
    }
}